
# Video files
*.mp4
*.avi
*.mkv
*.mov
*.wmv
*.flv
*.webm
*.mpeg
*.mpg
*.m4v
*.3gp
*.3g2
*.f4v
*.swf
*.vob
*.ogv
*.mts
*.m2ts
*.ts
mediamtx
mediamtx.yml
Video_Codec_SDK_13.0.19
opencv*
ffmpeg*
CLAUDE.md
workspace/0.mov